/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}


@media (min-width: 120px) {
	#site-navigation {
		display: inline-flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		span.site-info {
			color: $color__white;
			margin: 0 0 0 .7rem;
		}
	}
	body {
		padding: 2.5%;
		p{
		font-size: $font__size__sm;
		}
	}
	img {
		margin: 0 auto;
		width: 300px;
		text-align: left;
	}

}

@media (min-width: 620px) {
	body {
		padding: 5%;
		p{
		font-size: $font__size__md;
		}
	}
	img {
		margin: 0 auto;
		width: 500px;
		text-align: left;
	}
	
}

.post-archives {
	display: flex;
	flex-direction: column;
	width: 100vw;
	h2 {
		text-align: left;
	}
	ul {
		list-style: none;
		padding-top: $lg__unit;
		li {
			float: left;
			font-size: $sm__unit;
			margin-bottom: .5rem;
			margin-right: 1.125rem;
		}
		a {
			text-decoration: none;
		}
	}
}

.category-archives {
	display: flex;
	flex-direction: column;
	width: 100vw;
	h2 {
		text-align: left;
	}
	ul {
		list-style: none;
		padding-top: $lg__unit;
		li {
			float: left;
			font-size: $sm__unit;
			margin-bottom: .5rem;
			margin-right: 1.125rem;
		}
		a {
			text-decoration: none;
		}
	}
}

.tag-archives {
	display: flex;
	flex-direction: column;
	width: 100vw;
	h2 {
		text-align: left;
	}
	ul {
		list-style: none;
		padding-top: $lg__unit;
		li {
			float: left;
			font-size: $sm__unit;
			margin-bottom: .5rem;
			margin-right: 1.125rem;
		}
		a {
			text-decoration: none;
		}
	}
}

