/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* All */


.nav-previous {
    display: none;
}

.site-main {
    padding-bottom: 5rem;
}

.main-navigation {
    display: flex;
    flex-wrap: nowrap;
    font-size: $font__size__sm;
    .proud {
        display: flex;
        white-space: nowrap;
        font-weight: 100;
        text {
            color: $color__green;
        }
    }
}

.menu-main-navigation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    a {
        white-space: nowrap;
        flex: 0 0 auto;
        color: $color__green;
        font-family: Exo;
        font-size: $sm__unit;
        padding: 0 .7rem 0 .7rem;
        transition-duration: .4s;
        border: 1px solid $color__background-body;
        border-right: 2px solid $color__white;
        &:hover {
            border: 2px solid rgb(29, 71, 28);
            color: rgb(29, 71, 28);
        }
    }
}

.authorlink {
    display: inline-flex;
    #source {
        padding-left: $sm__unit;
    }
}

.author {
    display: inline-flex;
    font-weight: 100;
    align-items: baseline;
}

.author::before {
    align-items: baseline;
    content: "\2014 ";
    margin-right: $sm__unit;
    color: $color__white;
    font-size: 26px;
}


/* All Archives Page */

@media (min-width: 1080px) {
    .post-archives {
        display: flex;
        flex-direction: column;
        width: 658px;
        h2 {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: $lg__unit 0 0 0;
            li {
                float: left;
                font-size: $sm__unit;
                margin-bottom: .5rem;
                margin-right: 1.125rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .category-archives {
        display: flex;
        flex-direction: column;
        width: 658px;
        h2 {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: $lg__unit 0 0 0;
            li {
                float: left;
                font-size: $sm__unit;
                margin-bottom: .5rem;
                margin-right: 1.125rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .tag-archives {
        display: flex;
        flex-direction: column;
        width: 658px;
        h2 {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: $lg__unit 0 0 0;
            li {
                float: left;
                font-size: $sm__unit;
                margin-bottom: .5rem;
                margin-right: 1.125rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

.post-107 {
    width: 658px;
    p {
        text-align: left;
        font-size: $font__size__sm;
    }
    h1 {
        justify-content: baseline;
    }
}

@media (min-width: 1080px) {
    .archive {
        span.site-info {
            color: $color__white;
            margin: 0 0 0 .7rem;
            line-height: 22px;
        }
        .main-navigation {
            display: flex;
            justify-content: flex-end;
        }
        * {
            text-align: center;
            text-align: -webkit-center;
        }
        body {
            padding: 5%;
        }
        img {
            margin: 0 auto;
            width: 700px;
        }
        h1 {
            text-align: left;
            margin-top: 3rem;
            padding: 0 0 3rem 0;
            border-bottom: 1px dotted $color__white;
            width: 60%;
        }
        .quotes {
            p {
                display: flex;
                width: 60vw;
                padding: 0 0 $lg__unit 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                min-height: 30vh;
                font-size: $font__size__main;
            }
        }
        .home-hero {
             ::before {
                content: "\f10d";
                left: 100px;
                top: 400px;
                color: $color__green;
                font-family: FontAwesome;
                font-size: 125px;
                position: absolute;
            }
             ::after {
                content: "\f10e";
                right: 100px;
                top: 400px;
                color: $color__green;
                font-family: FontAwesome;
                font-size: 125px;
                position: absolute;
            }
        }
    }
}

article {
    width: 60%;
    border-bottom: 1px dotted $color__white;
    p {
        font-size: 40px;
        font-weight: 100;
    }
    .entry-meta {
        display: inline-flex;
        span {
            align-self: center;
            font-size: 20px;
            font-weight: 100;
        }
        h2 {
            align-items: baseline;
            font-size: 20px;
            font-weight: 100;
        }
        h2::before {
            content: "\2014 ";
            color: $color__white;
            padding-right: .7rem;
        }
    }
}

.entry-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.entry-content {
    border: none;
}

// <-- Main page CSS --> //
@media (min-width: 1080px) {
    .home,
    .single,
    .page-template-default,
    .post-template-default {
        display: flex;
        justify-content: center;
        span.site-info {
            color: $color__white;
            margin: 0 0 0 .7rem;
            line-height: 22px;
        }
        .main-navigation {
            display: flex;
            justify-content: flex-end;
            margin-top: 3rem;
        }
        * {
            text-align: center;
            text-align: -webkit-center;
        }
        body {
            padding: 5%;
        }
        img {
            margin: 0 auto;
            width: 700px;
            transition-duration: 1.4s;
            &:hover {
                width: 800px;
            }
        }
        .quotes {
            p {
                display: flex;
                width: 60vw;
                padding: 0 0 $lg__unit 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                min-height: 30vh;
                font-size: $font__size__main;
            }
        }
        .home-hero {
             ::before {
                content: "\f10d";
                left: 100px;
                top: 270px;
                color: $color__green;
                font-family: FontAwesome;
                font-size: 125px;
                position: absolute;
            }
             ::after {
                content: "\f10e";
                right: 100px;
                top: 270px;
                color: $color__green;
                font-family: FontAwesome;
                font-size: 125px;
                position: absolute;
            }
        }
    }
    .entry-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* Submit a Quote Page */

.subbtn {
    margin: $lg__unit 0 0 0;
}

.quote-sub-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 5px;
    text-align: -webkit-center;
    div {
        padding: $sm__unit;
        align-items: left;
    }
}


/* Media Sizing for mobile size */

@media (max-width: 620px) {
    .main-navigation {
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        align-items: center;
    }
}

.n-q-btn {
    position: relative;
    background-color: $color__background-body;
    font-size: $font__size__sm;
    color: $color__green;
    padding: 20px;
    width: 239px;
    height: 48px;
    line-height: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $color__green;
    &:hover {
        border: 2px solid rgb(29, 71, 28);
    }
}

.n-q-btn:after {
    content: "";
    background: $color__white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.n-q-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.subbtn {
    position: relative;
    background-color: $color__background-body;
    font-size: $font__size__sm;
    color: $color__green;
    padding: 20px;
    width: 239px;
    height: 48px;
    line-height: 0px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $color__green;
    &:hover {
        border: 2px solid rgb(29, 71, 28);
    }
}

.subbtn:after {
    content: "";
    background: $color__white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.subbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

input,
textarea {
    background: none;
    color: $color__white;
}


/* Single Page */

.single {
    article {
        width: 60%;
        border-bottom: none;
    }
}

.nextentry {
    display: flex;
    justify-content: center;
    .ne {
        position: relative;
        background-color: $color__background-body;
        font-size: $font__size__sm;
        color: $color__green;
        padding: 20px;
        width: 239px;
        height: 48px;
        line-height: 0px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid $color__green;
        &:hover {
            border: 2px solid rgb(29, 71, 28);
        }
    }
    .ne:after {
        background: $color__white;
        display: block;
        color: $color__green;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
    }
    .ne:active:after {
        padding: 0;
        color: $color__green;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }
}