/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* All */

.nav-previous {
    display: none;
}

.site-main {
    padding-bottom: 5rem;
}

#site-navigation {
    display: flex;
    flex-wrap: wrap;
    .proud {
        display: flex;
        white-space: nowrap;
        text {
            color: $color__green;
        }
    }
}

#primary-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    a {
        white-space: nowrap;
        flex: 0 0 auto;
        color: $color__green;
        font-family: Exo;
        font-size: 1rem;
        padding: 0 .7rem 0 .7rem;
        border-right: 1px solid $color__white;
    }
}

.authorlink {
    display: inline-flex;
    #source {
        padding-left: 1rem;
    }
}

.author::before {
    align-items: baseline;
    content: "\2014 ";
    margin-right: 1rem;
    color: $color__white;
    font-size: 26px;
}


/* All Archives Page */

@media (min-width: 1080px) {
    .post-archives {
        display: flex;
        flex-direction: column;
        width: 658px;
        h2 {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: 2rem 0 0 0;
            li {
                float: left;
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-right: 1.125rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .category-archives {
        display: flex;
        flex-direction: column;
        width: 658px;
        h2 {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: 2rem 0 0 0;
            li {
                float: left;
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-right: 1.125rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .tag-archives {
        display: flex;
        flex-direction: column;
        width: 658px;
        h2 {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: 2rem 0 0 0;
            li {
                float: left;
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-right: 1.125rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
}


/* All Archives Page */

.post-107 {
    width: 658px;
    p {
        text-align: left;
    }
    h1 {
        justify-content: baseline;
    }
}

// <-- Main page CSS --> //
@media (min-width: 1080px) {
    .home,
    .page-template-default,
    .post-template-default {
        display: flex;
        justify-content: center;
        span.site-info {
            color: $color__white;
            margin: 0 0 0 .7rem;
        }
        #site-navigation {
            display: flex;
            justify-content: flex-end;
        }
        * {
            text-align: center;
            text-align: -webkit-center;
        }
        body {
            padding: 50px;
        }
        img {
            margin: 0 auto;
            width: 700px;
        }
        #quote {
            p {
                display: flex;
                width: 60vw;
                padding: 2rem 0 2rem 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                min-height: 30vh;
                font-size: $font__size__main;
            }
        }
        .home-hero {
            padding-top: 3rem;
             ::before {
                content: "\f10d";
                left: 50px;
                top: 230px;
                color: $color__green;
                font-family: FontAwesome;
                font-size: 125px;
                position: absolute;
            }
             ::after {
                content: "\f10e";
                right: 30px;
                top: 230px;
                color: $color__green;
                font-family: FontAwesome;
                font-size: 125px;
                position: absolute;
            }
        }
    }
    .entry-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* Submit a Quote Page */

#submit {
    margin: 2rem 0 0 0;
}

#quote-submission-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 5px;
    div {
        padding: 1rem;
        align-items: left;
    }
}