// Structure
$sm__unit: 1rem;
$base__space-unit: 1.5rem;
$lg__unit: 2rem;

// Colors

$color__background-body: #222;
$color__text-main: #fff;
$color__green: #0c0;
$color__white: #fff;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #0c0;
$color__link-visited: rgb(0, 207, 190);
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__1: 'Exo';
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size__main: 40px;
$font__size__md: 28px;
$font__size__sm: 20px;
